@import "https://fonts.googleapis.com/css?family=Black+Ops+One";

* {
  font-family: "Barlow Semi Condensed", sans-serif;
  color: white;
  text-align: center;
  padding-top: 10px;
}
html {
  background-color: #343a40;
}

h1 {
  margin-top: 0;
}

.icon {
  height: 60px;
  margin-right: 10px;
  margin-left: -50px;
}

p {
  padding-top: 0;
}

.timer {
  font-family: "Black Ops One";
  font-size: 4rem;
}

.timer:fullscreen{
  padding-top: 25%;
  opacity: 0.9;
}

button {
  min-width: 130px;
  min-height: 60px;
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: white;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  margin: 20px;
}

button::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(130px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 10px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

button:hover,
button:focus {
  transform: translateY(-6px);
}

button:hover::before,
button:focus::before {
  opacity: 1;
}
button:hover::after,
button:focus::after {
  animation: none;
  display: none;
}

.disabled-button {
  color: lightgray;
}

footer {
  width: 100%;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  padding-bottom: 1rem;
}

a {
  margin-left: 1rem;
  font-size: 1.25rem;
}

i:hover {
  transform: scale(1.25);
}

/*
.timer::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00ffcb;
  position: absolute;
  z-index: -1;
  transform: translate(-50%, -50%);
  animation: ring 2s infinite;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
*/
